[access "refs/*"]
	owner = group user/M0P (M0P)
[access "refs/for/refs/*"]
	read = group user/M0P (M0P)
	push = group user/M0P (M0P)
	label-Code-Review = -2..+2 group user/M0P (M0P)
	label-Verified = -1..+1 group user/M0P (M0P)
	rebase = group user/M0P (M0P)
	removeReviewer = group user/M0P (M0P)
	submit = group user/M0P (M0P)
[access "refs/heads/*"]
	read = group user/M0P (M0P)
	create = group user/M0P (M0P)
	push = +force group user/M0P (M0P)
	pushMerge = group user/M0P (M0P)
[access "refs/tags/*"]
	push = +force group user/M0P (M0P)
	pushTag = group user/M0P (M0P)
	pushSignedTag = group user/M0P (M0P)
